<div class="footer">
    <div class="pull-right">
        Desarrollado por:
        <% link_to 'mailto:efuentesp@gmail.com' do %>
        <i class="fa fa-codepen"></i>
        CompanyName<% end %>
    </div>
    <div>
        Copyright
        <strong>Ento Editorial</strong>
        &copy;
        <%= Time.now.year %>. Todos los derechos reservados.
    </div>
</div>
