          <div class="form-group">
            <% link_to current_page.data.breadcrumb[-1].link, :class => 'btn btn-primary' do %>
              <i class="fa fa-save"></i> <%= data.i18n.domain_save %>
            <% end %>
            <%= link_to data.i18n.domain_cancel, current_page.data.breadcrumb[-1].link, :class => 'btn btn-white' %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
