---
title: Portafolio de Enseñanza
role_index: 1
home_link: '/teacher'

profile:
  name: Horacio Salgado Bustos
  school: Instituto Londres
  school_level: Primaria
  role: Docente
  email: horacio.salgado.mail.edu.mx
  picture: "/images/default-teacher-avatar.png"

survey:
  description: "Da clic en la siguiente liga para descargar la guía que te ayudará a preparar los archivos para tu portafolio de enseñanza. Y después completa la información solicitada en el siguiente formato, una vez terminada la sección, dar clic en el botón 'Siguiente'."
  prev_question: '/entities/survey/webform/p3'
  end_question: '/entities/survey/webform/end'
  attached_files:
    - name: "Guia. Portafolio Evidencias de Enseñanza"
      icon: "fa-file-pdf-o"
      link: "#"

form:
  - label: "Plan de Clase"
    id: plan_clase
    type: file_upload
    file_types: pdf
    file_max_size: 1 Mb
    file_image_resize: "120x"
    default_value:
    col_size: xl
    placeholder:

  - label: "Estrategias de Enseñanza"
    id: estrategia_ensenanza
    type: file_upload
    file_types: pdf
    file_max_size: 1 Mb
    file_image_resize: "120x"
    default_value:
    col_size: xl
    placeholder:
---

= partial 'partials/page_heading'
= partial 'partials/webform'
