---
title: Autoevaluación del Perfil Docente (Educación Básica)
role_index: 1
home_link: '/teacher'

profile:
  name: Horacio Salgado Bustos
  school: Instituto Londres
  school_level: Primaria
  role: Docente
  email: horacio.salgado.mail.edu.mx
  picture: "/images/default-teacher-avatar.png"

survey:
  description: "Autoevaluación del Perfil del Docente para Educación Básica (Preescolar, Primaria y Secundaria)."
  prev_question: '/entities/survey/grid/p2'
  end_question: '/entities/survey/grid/end'
  options:
    - "Algunas veces"
    - "Frecuentemente"
    - "Muy frecuentemente"
    - "Siempre"
  sections:
    - title: "3 . Un docente que se reconoce como profesional que mejora continuamente para apoyar a los alumnos en su aprendizaje."
      sections:
        - title: "3.1 Describe las características y los procesos de desarrollo y de aprendizaje de los alumnos para su práctica docente."
          questions:
            - title: "3.1.1 Describo las características del desarrollo y del aprendizaje de mis alumnos para organizar mi intervención docente."
              code: '3.1.1'
            - title: "3.1.2 Describo las características del desarrollo y del aprendizaje de mis alumnos para poner en práctica mi intervención docente."
              code: '3.1.2'
            - title: "3.1.3 Identifico las características del entorno familiar, social y cultural de mis alumnos para organizar mi intervención docente."
              code: '3.1.3'
            - title: "3.1.4 Identifico las características del entorno familiar, social y cultural de mis alumnos para poner en práctica mi intervención docente."
              code: '3.1.4'
        - title: "3.2 Analiza los propósitos educativos y los enfoques didácticos de la educación para su práctica docente. "
          questions:
            - title: "3.2.1 Identifico los propósitos educativos del currículo vigente para organizar mi intervención docente."
              code: '3.2.1'
            - title: "3.2.2 Identifico los aspectos esenciales del enfoque didáctico de cada asignatura."
              code: '3.2.2'
            - title: "3.2.3 Explico las características de las situaciones de aprendizaje que planteo a mis alumnos a partir del enfoque didáctico de los campos formativos de preescolar, de las asignaturas de educación primaria o educación secundaria."
              code: '3.2.3'
        - title: "3.3 Analiza los contenidos de aprendizaje del currículo vigente para su práctica docente."
          questions:
            - title: "3.3.1 Identifico los campos formativos en que se inscriben los contenidos de aprendizaje de la educación preescolar, primaria o secundaria para su práctica docente."
              code: '3.3.1'
            - title: "3.3.2 Explico la elección de los contenidos de aprendizaje a desarrollar en mi intervención docente para el logro de los propósitos educativos de la educación básica."
              code: '3.3.2'
---

= partial 'partials/page_heading'
= partial 'partials/survey'
